/* header */
header {
    background-color: #ff6900;
    padding: 15px 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    box-shadow: 1px 1px 3px  rgba(0, 0, 0, 0.5);
}

header .container {
    width: 900px;
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header #links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    list-style-type: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

header #links ul li:hover {
    text-decoration: underline 1.5px;
    cursor: pointer;
}


header #logo {
    width: 10%;
    cursor: pointer;
}

header .icons img {
    width: 1em;
    padding-left: 2px;
    cursor: pointer;
}
/* /header */