.container {
    max-width: 900px;
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

/* header */
header {
    background-color: #ff6900;
    padding: 15px 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    box-shadow: 1px 1px 3px  rgba(0, 0, 0, 0.5);
}

header #links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    list-style-type: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

header #links ul li:hover {
    text-decoration: underline 1.5px;
    cursor: pointer;
}


header #logo {
    width: 10%;
    cursor: pointer;
}

header .icons img {
    width: 1em;
    padding-left: 2px;
    cursor: pointer;
}
/* /header */

/* main */
main .container {
    padding: 80px 0 0;
} 

main .card {
    width:33%;
}

main .card-img {
    position: relative;
}

main .card-img img {
    width: 100%
}

main .card .card-img .img-secondary { 
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

main .card-img:hover .img-secondary {
    display: inline;
} 

main .card .card-img .add-to-fav {
    background-color: white;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;

    position: absolute;
    top: 10px;
    right: 0;
}

/* bonus -- heart hover color change */
main .card .card-img .add-to-fav:hover {
    color:#ff0000;
}
/* /bonus */

main .card .card-img .card-label {
    position: absolute;
    bottom: 40px;
    left: 0;

    display: flex;
    gap: 5px;
}

main .card .card-img .card-label .card-label-discount {
    background-color: #ff0000;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 8px;
}

main .card .card-img .card-label .card-label-sustainability {
    background-color: #008000;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 8px;
}

main .card:nth-last-child(-n+2) .card-label-discount {
    display: none;
}

main .no-sustainability .card-label-sustainability {
    display: none;
}

main .card .card-text {
    padding-bottom: 30px;
}

main .card .card-text .brand, .price{
    font-size: 10px;
}

main .card .card-text .cloth-name{
    font-size: 11px;
    font-weight: bold;
}

main .card .card-text .price .discounted-price{
    color: #ff0000;;
    font-weight: bold;
}

main .card .card-text .price .original-price{
    text-decoration: line-through;
}
/* /main */

/* footer */
footer {
    background-color: #1a1a1a;
    color: white;
    padding: 20px 0;
}

footer .footer-left #boolando-srl {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 8px;
}

footer .footer-left .links {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 5px;

    font-size: 10px;
}

footer .footer-left .links .info-links {
    cursor: pointer;
}

footer .footer-left .links .info-links:hover {
    text-decoration: underline;
}

footer .footer-right {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 5px;

    font-size: 10px;
    font-weight: bold;
}

footer .footer-right .icons-img img {
    width: 1.5em;
    cursor: pointer;
}
/* /footer */